.LoginScreen {
	position: relative;
	width: 100vw;
	background: url('../../assets/images/backgroundImage.jpg') no-repeat center
		center/cover;
	min-height: 100%;
	height: 100%;
	overflow-x: hidden;
}

.LoginScreen__logo {
	position: fixed;
	top: 25px;
	width: 120px;
	max-height: 150px;
	object-fit: contain;
	left: 0px;
	margin-left: 25px;
	z-index: 10;
}

.loginScreen__gradient {
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8) 0,
		rgba(0, 0, 0, 0) 60%,
		rgba(0, 0, 0, 0.8) 100%
	);
}

button.loginScreen__button {
	position: fixed;
	top: 25px;
	padding: 10px 20px;
	font-size: 1rem;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	z-index: 10;
	background-color: #e50914;
	line-height: normal;
	font-size: 1rem;
	right: 0px;
	margin-right: 25px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.loginScreen__body--Wrapper {
	z-index: 10;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 15%;
	width: 100%;
	padding: 20px;
}

.loginScreen__body {
	text-align: center;
	color: white;
	width: 100%;
	padding: 75px 0;
	max-width: 950px;
	margin: 0 auto;
}

.loginScreen__body h1 {
	font-size: 3.125rem;
	max-width: 640px;
	margin: 0 auto;
}

.loginScreen__body h2 {
	margin-bottom: 1rem;
	font-size: 1.625rem;
	max-width: 640px;
	margin: 0 auto;
}

.loginScreen__body h3 {
	max-width: 640px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 23px;
}

@media (min-width: 768px) {
	.loginScreen__body--Wrapper {
		top: 10%;
	}

	.loginScreen__body h1,
	.loginScreen__body h2,
	.loginScreen__body h3 {
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.loginScreen__body h1 {
		font-size: 1.75rem;
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 10px;
	}

	.loginScreen__body h2 {
		font-size: 1.25rem;
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 10px;
	}

	.loginScreen__body h3 {
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 368px) {
	.loginScreen__body h2,
	.loginScreen__body h1 {
		display: none;
	}
}

.loginScreen__input {
	padding-right: 20px;
	padding-left: 20px;
}

.loginScreen__input input,
.loginScreen__getStarted {
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	border-radius: 2px;
	min-height: 40px;
	padding: 16px 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border: none;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.loginScreen__input input {
	width: 55%;
	max-width: 600px;
	color: #000;
	outline: none;
}

.loginScreen__input input:focus {
	outline: none;
}

.loginScreen__input input:hover {
	border-bottom: 1px solid #e50914;
}

.loginScreen__getStarted {
	text-align: center;
	color: #fff;
	background-color: #e50914;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#e50914),
		to(#db0510)
	);

	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}

.loginScreen__getStarted:hover {
	background: #d11f28;
}

@media (max-width: 380px) {
	.loginScreen__input input,
	.loginScreen__getStarted {
		display: block;
		width: 90%;
		margin-bottom: 20px;
	}
}
