/** @format */

.row {
	color: white;
	margin-left: 20px;
}

.row__posters {
	padding-top: 20px;
	padding-bottom: 20px;
}

.row__posters {
	padding-left: 50px;
	display: flex;
	/* overflow-x: scroll; */
	overflow-x: hidden;
}

.row__posterLarge img {
	margin-right: 10px;
	height: 250px;
	width: auto;
}

.row__posters img {
	transition: all 0.4s ease-out !important;
	cursor: pointer;
	-webkit-transition: ;
	-moz-transition: ;
	-ms-transition: ;
	-o-transition: ;
}

.row__posters img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.row__posters img {
	margin-right: 10px;
	width: 100%;
	min-height: 180px;
}

.row__posters--ImageContainer {
	margin-right: 10px;
	width: 200px;
	min-height: 180px;
}

/* to remove the scroll bar */
.row__posters::-webkit-scrollbar,
.row__posterLarge::-webkit-scrollbar {
	display: none;
}
