/** @format */

.row {
	color: white;
	margin-left: 20px;
}

.row__posters {
	display: flex;
	overflow-y: hidden;
	/* overflow-x: scroll; */
	overflow-x: hidden;
	padding: 20px;
}

.row__poster {
	max-height: 100px;
	object-fit: contain;
	margin-right: 10px;
	max-width: 250px;
	transition: transform 450ms;
	-webkit-transition: transform 450ms;
	-moz-transition: transform 450ms;
	-ms-transition: transform 450ms;
	-o-transition: transform 450ms;
}

.row__poster:hover {
	/*transform: scale(1.08);
	*/
	transform: scale(1.1);
	opacity: 1;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.row__posterLarge {
	max-height: 250px;
}

.row__posterLarge:hover {
	/*transform: scale(1.08);
  */
	opacity: 1;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/* to remove the scroll bar */
.row__posters::-webkit-scrollbar {
	display: none;
}
